name: quarks-secret-ci

on:
  pull_request:

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.14.7
    - uses: actions/checkout@v2
    - uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Install dependencies
      run: |
        go install github.com/onsi/ginkgo/ginkgo
        go get github.com/mattn/goveralls
        go get github.com/modocache/gover
        go get -u golang.org/x/lint/golint
        curl -LO https://github.com/dominikh/go-tools/releases/download/2020.1.3/staticcheck_linux_amd64.tar.gz
        sudo tar xfz staticcheck_linux_amd64.tar.gz --strip-component 1 -C $GOPATH/bin staticcheck/staticcheck
    - name: Install shared tools
      run: |
        bin/tools
    - name: Run lint
      run: |
        tools/quarks-utils/bin/lint
    - name: Run unit tests
      run: |
        tools/quarks-utils/bin/test-unit
      env:
        COVERAGE: true
        GOPROXY: "https://proxy.golang.org"
    - uses: actions/upload-artifact@master
      with:
        name: coverage-files
        path: ./code-coverage

  cluster-tests:
    #needs: [unit-tests]

    runs-on: ubuntu-latest

    strategy:
      matrix:
        kubernetes_version: [v1.16.4]

    steps:
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.14.7
    - uses: actions/checkout@v2
    - uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Install Go dependencies
      run: |
        go install github.com/onsi/ginkgo/ginkgo
        go get github.com/mattn/goveralls
        go get github.com/modocache/gover
    - name: Install shared tools
      run: |
        bin/tools
    - name: Prepare GITHUB_ACTION_BRANCH env
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: prepare_branch_env
    - name: Create k8s Kind Cluster
      uses: engineerd/setup-kind@v0.3.0
      with:
       version: v0.8.0
       image: kindest/node:${{matrix.kubernetes_version}}
    - name: Run cluster tests
      run: |
        bin/build-image
        bin/test-integration
        bin/test-cli-e2e
        bin/build-helm
        bin/test-helm-e2e
        bin/coverage
      env:
        PROJECT: quarks-secret
        GITHUB_ACTION_BRANCH: ${{ steps.prepare_branch_env.outputs.branch }}
        USE_KIND: true
        COVERAGE: true
        GOPROXY: "https://proxy.golang.org"
    - uses: shogo82148/actions-goveralls@v1
      with:
        path-to-profile: ./code-coverage/gover.coverprofile
